
.classpath
.project
archive/
target/
error
output
logs/
*.traineddata
*.xlsx
*.docx
*.wav
*.json
data/
task/
process/
output/
.classpath
.project
nb-configuration.xml
.pydevproject
.settings/
bin/
retina.sh
archive/
REAMDE.md.save
.README.md.swp
get-pip.py
